.busgroup {
    position: relative;
    width: 100%;
    text-align: center;
}


.text-container {
    position:absolute;
    color: rgb(255, 255, 255);
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    background-color: rgba(41, 41, 41, 0.8);
    padding: 0.5rem;
    text-align: center;
    font-size: 16px;
}

.grid {
    display:grid;
    grid-template-columns: repeat(4.1framework);
    gap: 0.1rem;
}